<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Deal Scraper</title>
</head>
<body>
    <h1 style="text-align: center;">Cerca gioco</h1>

    <form method="GET" action="/search" style="text-align: center; width: 100%;">
        <input type="text" name="query" style="width: fit-content;" placeholder="Inserisci il nome del gioco" id="gameName">
        <input type="number" name="max_price" style="width: fit-content;" placeholder="Prezzo massimo (opzionale)">
        <input type="submit" value="Cerca"> 
    </form>

</body>
</html>